config CAVIUM_NET
	bool "Cavium Ethernet support"
	depends on NET && ARCH_OCTEONTX
	help
	  You must select Y to enable cavium network device support

	  If unsure, say n

if CAVIUM_NET

config OCTEONTX_VNIC
	bool "Enable vNIC device support"
	depends on CAVIUM_NET
	help
	  Enables support for NIC controller

config OCTEONTX_BGX
	bool "Enable BGX device support"
	depends on CAVIUM_NET
	help
	  Enables support for LMAC layer

config OCTEONTX_XCV
	bool "Enable RGMII(XCV) device support"
	depends on CAVIUM_NET
	help
	  Enables support for RGMII

config OCTEONTX_SMI
	bool "Enable MDIO device support"
	depends on CAVIUM_NET
	help
	  Enables support for SMI/MDIO bus controller

endif

source drivers/net/cavium/octeontx2/Kconfig
