if ARCH_CN20K

choice
	prompt "CN20K board select"
	optional

config TARGET_CN20K_A
	bool "Marvell CN20KA SoC"
	help
	  The MRVL CN20K is a ARM64-based SoC.
	  It is based ARMv9 architecture.

config TARGET_CNF20K_A
	bool "Marvell CNF20KA Fusion SoC"
	help
	  The MRVL CNF20K is a ARM64-based SoC.
	  It is based ARMv9 architecture.

endchoice

config SYS_SOC
	string
	default "cn20k"

config SYS_PCI_64BIT
	bool
	default y

endif
