choice
	prompt "Target board"

config	TARGET_THUNDERX_83XX
	bool "ThunderX CN83XX"

config	TARGET_THUNDERX_81XX
	bool "ThunderX CN81XX"

config	TARGET_THUNDERX_93XX
	bool "ThunderX CN93XX"

endchoice

config SYS_CONFIG_NAME
	default "thunderx_81xx" if TARGET_THUNDERX_81XX
	default "thunderx_83xx" if TARGET_THUNDERX_83XX
	default "thunderx_93xx" if TARGET_THUNDERX_93XX
