if ARCH_OCTEONTX

choice
	prompt "Target board"

config	TARGET_OCTEONTX_83XX
	bool "OcteonTX CN83XX"

config	TARGET_OCTEONTX_81XX
	bool "OcteonTX CN81XX"

endchoice

config SYS_CONFIG_NAME
	default "octeontx_81xx" if TARGET_OCTEONTX_81XX
	default "octeontx_83xx" if TARGET_OCTEONTX_83XX

endif
