config CAVIUM_NET_OCTEONTX2
	bool "Cavium Ethernet support for OCTEONTX2 chips"
	depends on NET && ARCH_OCTEONTX2
	help
	  You must select Y to enable cavium network device support

	  If unsure, say n

if CAVIUM_NET_OCTEONTX2

config OCTEONTX2_CGX
	bool "Enable CGX device support"
	help
	  Enables support for LMAC layer

config OCTEONTX2_RVU
	bool "Enable RVU support"
	help
	  Enables support for Resource Virtualization Co-processor Unit

endif
