if TARGET_CN10K_A || TARGET_CN10K_B || TARGET_CNF10K_A || TARGET_CNF10K_B

config SYS_VENDOR
	string
	default	"Marvell"

config SYS_BOARD
	string
	default "cn10k"

config SYS_CONFIG_NAME
	default "cn10k_common"

endif

if TARGET_CN10K_A

config CN10K_FIXED_MGMT_PORT
	bool "Fixed Management port as first interface"
	default n
	help
	  Always set up first ethernet interface to be fixed port
	  defined in privileged firmware components.

config CN10K_MAP_RESERVE
	bool "Enable reserved region mapping"
	default n
	help
	  Enable mapping of reserved regions to MMU for access
	  from U-Boot.

endif
