// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for the SolidRun G2LC SoM
 *
 * Copyright (C) 2024 SolidRun Ltd.
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include "r9a07g044c.dtsi"
#include "r9a07g044c-u-boot.dtsi"
#include <dt-bindings/pinctrl/rzg2l-pinctrl.h>

/ {
	model = "rzg2lc-solidrun";
	compatible = "solidrun,hummingboard", "solidrun,rzg2lc-som";

	aliases {
		serial0 = &scif0;
		eeprom_som = &eeprom_som;
		eeprom_carrier = &eeprom_carrier;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@48000000 {
		device_type = "memory";
		/* first 128MB is reserved for secure area. */
		reg = <0 0x48000000 0 0x38000000>;
	};

	config {
		sdio_mux_gpios = <&P22 1 GPIO_ACTIVE_HIGH>, <&P39 0 GPIO_ACTIVE_HIGH>;
		usb_vbus_gpios = <&P4 0 GPIO_ACTIVE_HIGH>, <&P5 0 GPIO_ACTIVE_HIGH>;
	};

	wdt-reboot {
		compatible = "wdt-reboot";
		wdt = <&wdt0>;
	};
};

// &P18 {
// 	gpio_power_hog {
// 		gpio-hog;
// 		output-high;
// 		line-name = "SD Power On";
// 		gpios = <1 GPIO_ACTIVE_LOW>;
// 	};
// };

&P23 {
	wl_reg_on {
		gpio-hog;
		output-low;
		line-name = "wl_reg_on";
		gpios = <0 GPIO_ACTIVE_HIGH>;
	};

	bt_reg_on {
		gpio-hog;
		output-low;
		line-name = "bt_reg_on";
		gpios = <1 GPIO_ACTIVE_HIGH>;
	};
};

&ehci0 {
	status = "okay";
	phys = <&usb2_phy0>;
};

&ehci1 {
	status = "okay";
	phys = <&usb2_phy1>;
};

&eth0 {
	pinctrl-names = "default";
	pinctrl-0 = <&eth0_pins>;
	phy-handle = <&phy0>;
	phy-mode = "rgmii";
	status = "okay";
	phy0: ethernet-phy@0 {
		reg = <0>;
	};
};

&i2c0 {
	pinctrl-names = "default";
	status = "okay";

	adv7535: hdmi@3d {
		compatible = "adi,adv7535";
		reg = <0x3d>;
	};

	eeprom_som: m24c02@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
	};

	eeprom_carrier: eeprom@57 {
		compatible = "st,24c02", "atmel,24c02";
		reg = <0x57>;
		pagesize = <8>;
	};

};

&pinctrl {
	eth0_pins: eth0 {
		pinmux = <RZG2L_PINMUX(20, 0, 1)>,
			 <RZG2L_PINMUX(20, 1, 1)>,
			 <RZG2L_PINMUX(20, 2, 1)>,
			 <RZG2L_PINMUX(21, 0, 1)>,
			 <RZG2L_PINMUX(21, 1, 1)>,
			 <RZG2L_PINMUX(22, 0, 1)>,
			 <RZG2L_PINMUX(23, 0, 1)>,
			 <RZG2L_PINMUX(23, 1, 1)>,
			 <RZG2L_PINMUX(24, 0, 1)>,
			 <RZG2L_PINMUX(24, 1, 1)>,
			 <RZG2L_PINMUX(25, 0, 1)>,
			 <RZG2L_PINMUX(25, 1, 1)>,
			 <RZG2L_PINMUX(26, 0, 1)>,
			 <RZG2L_PINMUX(26, 1, 1)>,
			 <RZG2L_PINMUX(27, 0, 1)>,
			 <RZG2L_PINMUX(27, 1, 1)>,
			 <RZG2L_PINMUX(28, 0, 1)>,
			 <RZG2L_PINMUX(28, 1, 1)>;
	};
};

&scif0 {
	status = "okay";
	clock = <100000000>;
};

&sdhi0 {
	/* pinctrl placeholder
	 * If this channel is used for interfacing with a SD card, a power enable
	 * pin (SD0_PWR_EN) must be defined.
	 * The SD0_PWR_EN pin is associated with P18_1.
	 * A HIGH signal on SD0_PWR_EN will enable supply voltage for SD card.
	*/
	bus-width = <8>;
	mutual-channel;
	status = "okay";
};

&sdhi1 {
	status = "disabled";
};

&usb2_phy0 {
	status = "okay";
};

&usb2_phy1 {
	status = "okay";
};

&xinclk {
	clock-frequency = <24000000>;
};

&wdt0 {
	status = "okay";
};
