CONFIG_ARM=y
CONFIG_ARCH_CPU_INIT=y
CONFIG_ARCH_RMOBILE=y
CONFIG_SYS_TEXT_BASE=0x50000000
CONFIG_ENV_SIZE=0x20000
CONFIG_ENV_OFFSET=0x3c0000
CONFIG_DEFAULT_DEVICE_TREE="rzg2ul-solidrun"
CONFIG_RCAR_GEN3=y
CONFIG_R9A07G043U=y
CONFIG_TARGET_RZG2UL_SOLIDRUN=y
# CONFIG_SPL is not set
CONFIG_DISTRO_DEFAULTS=y
CONFIG_FIT=y
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="rw rootwait root=/dev/mmcblk0p2"
CONFIG_DEFAULT_FDT_FILE="renesas/r9a07g043u12-hummingboard-ripple.dtb"
CONFIG_LOGLEVEL=7
CONFIG_CMD_TLV_EEPROM=y
CONFIG_CMD_BOOTZ=y
CONFIG_CMD_ERASEENV=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_I2C=y
CONFIG_CMD_MMC=y
CONFIG_CMD_USB=y
CONFIG_ENV_OVERWRITE=y
CONFIG_ENV_IS_IN_MMC=y
CONFIG_SYS_RELOC_GD_ENV_ADDR=y
CONFIG_SYS_MMC_ENV_PART=1
CONFIG_VERSION_VARIABLE=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_CLK_R9A07G043U=y
CONFIG_SYS_I2C_RCAR_IIC=y
CONFIG_SUPPORT_EMMC_BOOT=y
CONFIG_TEE=y
CONFIG_OPTEE=y
