CONFIG_ARM=y
CONFIG_TARGET_THUNDERX_81XX=y
CONFIG_DM_I2C=y
CONFIG_DM_GPIO=y
CONFIG_DEFAULT_DEVICE_TREE="thunder-81xx"
CONFIG_SYS_EXTRA_OPTIONS="ARM64"
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="ThunderX_81XX> "
CONFIG_CMD_MEMTEST=y
CONFIG_CMD_MX_CYCLIC=y
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_I2C=y
CONFIG_CMD_USB=y
# CONFIG_CMD_FPGA is not set
CONFIG_CMD_GPIO=y
CONFIG_CMD_TFTPPUT=y
CONFIG_CMD_TFTPSRV=y
CONFIG_CMD_RARP=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
CONFIG_CMD_CDP=y
CONFIG_CMD_SNTP=y
CONFIG_CMD_DNS=y
CONFIG_CMD_LINK_LOCAL=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_DM_I2C_COMPAT=y
CONFIG_MISC=y
CONFIG_PHYLIB=y
CONFIG_NETDEVICES=y
CONFIG_PCI_THUNDERX_ECAM=y
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_PL011=y
CONFIG_DEBUG_UART_BASE=0x87e028000000
CONFIG_DEBUG_UART_CLOCK=24000000
CONFIG_DEBUG_UART_SKIP_INIT=y
CONFIG_USB=y
CONFIG_DM_USB=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_STORAGE=y
