if TARGET_CN20K_A || TARGET_CNF20K_A

config SYS_VENDOR
	string
	default	"Marvell"

config SYS_BOARD
	string
	default "cn20k"

config SYS_CONFIG_NAME
	default "cn20k_common"

config CN20K_MAP_RESERVE
	bool "Enable reserved region mapping"
	default n
	help
	  Enable mapping of reserved regions to MMU for access
	  from U-Boot.
endif
